/* debug */
.debug{
    border: 1px dashed;
}

.debug.header{
    background-color: paleturquoise;
    height: 90px;
}

.debug.main{
    background-color: palegreen;
}

.debug.footer{
    background-color: palegoldenrod;
    height: 300px;
}

.debug.jumbotron{
    height: 490px;
    background-color: green;
}

.debug[class^="container"]{
    height: 100%;
    background-color: rgba(0, 0, 139, 0.282);
}

.debug.portfolio{
    background-color: aliceblue;
}

.debug.card{
    height: 370px;
    background-color: aqua;
    border: 1px dotted;
}

.debug.portfolio_title{
    height: 200px;
}
/* Main */
.portfolio_title,
.about_title {
    justify-content: center;
    align-items: center;
}
.portfolio .row{
    margin: 3rem auto;
}

.about_download{
    justify-content: center;
}