:root{
    --fr-primary-dark:#2c3e50;
    --fr-primary-light:#3a546d;
    --fr-secondary:#1abc9c;
    --fr-lighter:#ffffff; 
}

.bg_primary_dark{
    background-color: var(--fr-primary-dark);
}

.bg_primary_light{
    background-color: var(--fr-primary-light);
}

.bg_secondary{
    background-color: var(--fr-secondary);
}

.bg_lighter{
    background-color: var(--fr-lighter);
}

.color_lighter{
 color: var(--fr-lighter);
}

.color_dark{
    color: var(--fr-primary-dark);
}

.uppercase{
    text-transform: uppercase;
}

/* debug */
.debug {
    border: 1px dashed;
}


.debug.main {
    background-color: palegreen;
}

.debug.footer {
    background-color: rgb(0, 37, 41);
}

.debug.jumbotron {
    min-height: 490px;
}

.debug[class^="container"] {
    height: 100%;
    background-color: rgba(0, 0, 139, 0.282);
}

.debug.portfolio {
    background-color: aliceblue;
}

.debug.card {
    height: 370px;
    background-color: aqua;
    border: 1px dotted;
}

.debug.portfolio_title {
    height: 200px;
}
.debug.contact{
    background-color: cadetblue;
}

.debug.form{
    height: 380px;
    background-color: rgba(137, 43, 226, 0.275);
}

.debug .footer_info.card{
    background-color: blue;
    height: 100%;
}


/* Main */
.card{
    color: white;
}

.header,
.jumbotron,
.about,
.footer,
.about_text,
.footer_info.card
{
    color: white;
}
.jumbotron{
    text-align: center;
}

.img_box{
    width: 50%;
    margin: auto;
}



.portfolio_title {
    justify-content: center;
    align-items: center;
}

.portfolio .row {
    margin: 3rem auto;
}

.about_title, 
.form_title {
  justify-content: center;
}

.about_download {
    justify-content: center;
    align-items: center;
}

/* Footer */

.footer_bottom{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.237);
}